@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: DarkSeaGreen;
  padding-left: 20px;
}

img {
  border-radius: 30px;
}

h1 {
  font-family: "Georgia", sans-serif;
  color: DarkOliveGreen
}
P
{ color: DarkMagenta}

h3 {
  font-family: "Georgia", sans-serif;
  color: Teal
}